<!DOCTYPE html>
<html>
  <head>
    <title>FoodSpam</title>
  </head>
  <body>
    <div class="container">
        <form method='POST' action='/user_login'>
            <input type="text" name="username" id="username" placeholder="username">
            <input type="password" name="password" id="password" placeholder="password">
            <button type="submit" name="submit" id="submit">Login</button>
        </form>
        <p>Not Register? <a href='/user_signup'>signup</a></p>
    </div>
  </body>
</html>
