<!DOCTYPE html>
<html>
  <head>
    <title>FoodSpam</title>
  </head>
  <body>
    <div class="container">
        <form method='POST' action='/user_signup'>
            <input type="text" name="username" id="username" placeholder="username">
            <input type="text" name="name" id="name" placeholder="Full name">
            <input type="email" name="email" id="email" placeholder="email">
            <input type="text" name="phone_no" id="phone_no" placeholder="Phone no">
            <input type="password" name="password" id="password" placeholder="password">
            <button type="submit" name="submit" id="submit">Sign Up</button>
        </form>
        <p>Already Registered? <a href='/user_login'>Login</a></p>
    </div>
  </body>
</html>
